<article class="detail-container">
    <div class=" detail-container_content">
        <h4>
            <%= coffee.name %>
        </h4>
        <p>
            <%= coffee.description %>
        </p>
        <p>Origine: <%= coffee.origin %>
        </p>
        <p>
            Disponibilité : <%=coffee.available ? "En stock" : "Rupture de stock" %>
        </p>
        <p></p>
    </div>
    <div class="button-discover">
        <button class="button-discover_content">
            <a href="/detail/<%= coffee.id %>">Découvrir</a>
        </button>
    </div>
</article>