<%- include('../partials/header') %>

    <body>
        <main>
            <div class="shop-illustration_img-container">
            </div>
            <div class="detail-container">
                <div class="detail-container_content">
                    <h4>
                        <%= espresso.name %>
                    </h4>
                    <p>Descriptif: <%= espresso.description %>
                    </p>
                    <p>Référence: <%= espresso.reference %>
                    </p>
                    <p>Origine: <%= espresso.origin %>
                    </p>
                    <p>Prix au kg: <%=espresso.price_kg %> €
                    </p>
                    <p>Disponibilité: <%=espresso.available ? "Oui" : "Non" %>
                    </p>
                    <p></p>
                </div>
            </div>
        </main>
    </body>

    <%- include('../partials/footer') %>